body {
	font-family: 'Arial', sans-serif;
	background-color: white;
}

h1 {
	text-align: center;
}

h2 {
	text-align: center;
}

.form {
	margin-left: 32%;
	margin-right: 32%;
}

img {
	margin-top: 3%;
	width: 100%
}